<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('images/' ~ product.image ~ '.jpeg') }}" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
      <p class="card-text --bs-emphasis-color">Nom : {{ product.name }}</p>
      <p class="card-text">Prix : {{ product.price }}€</p>
    </div>
  </div>
</div>
