<footer>
    <div class="">
        <p> Entreprise: Stubborn</p>
        <adress>
            <p>Adresse: Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
            <p>Email de contact: <a href=" mailto:stubborn@blabla.com">stubborn@blabla.com</a> </p>
        </adress>
    </div>
</footer>