{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
<h1>Backoffice</h1>

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for message in app.session.flashBag.get('success') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashBag.get('error') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<h2>Ajouter un produit</h2>
{{ include('admin/_product_add.html.twig', {
    form: addForm,  
    button_label: 'Ajouter'
}) }}

<hr>

<h2>Liste des produits</h2>
{% for product in products %}
    {% include "admin/_product_edit.html.twig" with {product: product, form: product.editForm } %}
{% endfor %}

{% endblock %}
