{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <h2>Une erreur est survenue lors du traitement de votre paiement.</h2>
    </div>
{% endblock %}
